.elementor-489038 .elementor-element.elementor-element-e83393e {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--align-items: stretch;
	--gap: 0px 0px;
	--flex-wrap: nowrap;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-489038 .elementor-element.elementor-element-e83393e:not(.elementor-motion-effects-element-type-background),
.elementor-489038 .elementor-element.elementor-element-e83393e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-489038 .elementor-element.elementor-element-e83393e,
.elementor-489038 .elementor-element.elementor-element-e83393e::before {
	--border-transition: 0.3s;
}

.elementor-489038 .elementor-element.elementor-element-6436ba6 {
	--display: flex;
	--min-height: 0px;
	--justify-content: center;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-489038 .elementor-element.elementor-element-6436ba6.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-489038 .elementor-element.elementor-element-00b6bb6 img {
	width: 80%;
}

.elementor-489038 .elementor-element.elementor-element-b81de93 {
	--display: flex;
	--justify-content: center;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-489038 .elementor-element.elementor-element-b81de93.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-489038 .elementor-element.elementor-element-eab46f3 .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-489038 .elementor-element.elementor-element-eab46f3>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-489038 .elementor-element.elementor-element-cf524e4 {
	--display: flex;
	--justify-content: center;
	--background-transition: 0.3s;
}

.elementor-489038 .elementor-element.elementor-element-cf524e4.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-menu-toggle {
	margin-left: auto;
}

.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu__container {
	font-family: var(--e-global-typography-text-font-family), sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
	word-spacing: var(--e-global-typography-text-word-spacing);
}

.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--dropdown .twbb-item {
	color: var(--e-global-color-primary);
}

.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item:hover,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item.twbb-item-active,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item.highlighted,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item:focus,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--dropdown .twbb-item.twbb-item-active {
	color: var(--e-global-color-accent);
}

.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--main .twbb-item.twbb-item-active,
.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu--dropdown .twbb-item.twbb-item-active {
	color: var(--e-global-color-text);
}

.elementor-489038 .elementor-element.elementor-element-119d50c {
	--display: flex;
	--justify-content: center;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button {
	font-family: var(--e-global-typography-accent-font-family), sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
	text-transform: var(--e-global-typography-accent-text-transform);
	font-style: var(--e-global-typography-accent-font-style);
	text-decoration: var(--e-global-typography-accent-text-decoration);
	line-height: var(--e-global-typography-accent-line-height);
	letter-spacing: var(--e-global-typography-accent-letter-spacing);
	word-spacing: var(--e-global-typography-accent-word-spacing);
	fill: var(--e-global-color-twbb_button_inv);
	color: var(--e-global-color-twbb_button_inv);
	background-color: var(--e-global-color-accent);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: var(--e-global-color-accent);
	border-radius: 6px 6px 6px 6px;
	padding: 14px 46px 14px 46px;
}

.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button:hover,
.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button:focus {
	color: var(--e-global-color-twbb_button);
	background-color: var(--e-global-color-twbb_bg_primary);
}

.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button:hover svg,
.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button:focus svg {
	fill: var(--e-global-color-twbb_button);
}

.elementor-489038 .elementor-element.elementor-element-11e4257>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}



@media(max-width:1024px) {


	.elementor-489038 .elementor-element.elementor-element-6436ba6 {
		--width: 4%;
	}

	.elementor-489038 .elementor-element.elementor-element-b81de93 {
		--width: 42.762%;
	}

	.elementor-489038 .elementor-element.elementor-element-cf524e4 {
		--width: 38.594%;
	}

	.elementor-489038 .elementor-element.elementor-element-119d50c {
		--width: 14.48%;
	}

	mentor-489038 .elementor-element.elementor-element-e83393e {
		--flex-wrap: nowrap;
	}

	.elementor-489038 .elementor-element.elementor-element-6436ba6 {
		--width: 10%;
		--padding-top: 3px;
		--padding-bottom: 3px;
		--padding-left: 3px;
		--padding-right: 3px;
	}

	.elementor-489038 .elementor-element.elementor-element-00b6bb6 img {
		width: 100%;
	}

	.elementor-489038 .elementor-element.elementor-element-b81de93 {
		--width: 48.923%;
	}

	.elementor-489038 .elementor-element.elementor-element-eab46f3 .elementor-heading-title {
		font-size: 18px;
		line-height: 1.1em;
	}

	.elementor-489038 .elementor-element.elementor-element-cf524e4 {
		--width: 44%;
		--align-items: flex-end;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}

	.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu__container {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
		word-spacing: var(--e-global-typography-text-word-spacing);
	}

	.elementor-489038 .elementor-element.elementor-element-119d50c {
		--margin-top: 15px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
		letter-spacing: var(--e-global-typography-accent-letter-spacing);
		word-spacing: var(--e-global-typography-accent-word-spacing);
	}


}

@media(max-width:567px) {
	.elementor-489038 .elementor-element.elementor-element-e83393e {
		--flex-wrap: nowrap;
	}

	.elementor-489038 .elementor-element.elementor-element-6436ba6 {
		--width: 10%;
		--padding-top: 3px;
		--padding-bottom: 3px;
		--padding-left: 3px;
		--padding-right: 3px;
	}

	.elementor-489038 .elementor-element.elementor-element-00b6bb6 img {
		width: 100%;
	}

	.elementor-489038 .elementor-element.elementor-element-b81de93 {
		--width: 48.923%;
	}

	.elementor-489038 .elementor-element.elementor-element-eab46f3 .elementor-heading-title {
		font-size: 18px;
		line-height: 1.1em;
	}

	.elementor-489038 .elementor-element.elementor-element-cf524e4 {
		--width: 44%;
		--align-items: flex-end;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}

	.elementor-489038 .elementor-element.elementor-element-bdd1fbf .twbb-nav-menu__container {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
		word-spacing: var(--e-global-typography-text-word-spacing);
	}

	.elementor-489038 .elementor-element.elementor-element-119d50c {
		--margin-top: 15px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-489038 .elementor-element.elementor-element-11e4257 .elementor-button {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
		letter-spacing: var(--e-global-typography-accent-letter-spacing);
		word-spacing: var(--e-global-typography-accent-word-spacing);
	}
}

@media(min-width:568px) {
	.elementor-489038 .elementor-element.elementor-element-6436ba6 {
		--width: 4%;
	}

	.elementor-489038 .elementor-element.elementor-element-b81de93 {
		--width: 42.762%;
	}

	.elementor-489038 .elementor-element.elementor-element-cf524e4 {
		--width: 38.594%;
	}

	.elementor-489038 .elementor-element.elementor-element-119d50c {
		--width: 14.48%;
	}
}